/*green color: #26a69a*/
:root{
    --green : #26a69a;
    --gray: #afb6b4;
    --hard-gray: #3f454b;
}
html{
    scroll-behavior: smooth;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}
header{
    background-color:var(--green);
    padding: 0;
    margin: 0;
}
header ul{
    width:70%;
    margin: 0 auto;
    text-align: right;
}
header li{
 display: inline-block;
 padding: 1rem;
 color:white;
}
header li:nth-child(2n){
    padding-left:0;
}
header a{
   text-decoration: none;
   color: white;
 }
header .ico{
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}
section:first-child{
    margin-top: 15px;
}
#container__dados_usuario label, #container__dados_usuario input{
    display:block;
}
#container__dados_usuario label{
    margin-top:15px;
}
#container__dados_usuario h4{
    text-align: center;
    color: var(--green);
}
#container__dados_remedio{
    opacity: 0;
}
#container__dados_remedio .therapy-name{
    margin-top: 15px;
}
#fundo-terapia-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 100;
}
.modal__container{
    position: absolute;
    top: 20%;
    left: calc(50% - 20vw);
    width: 40vw;
    height: auto;
    z-index: 500;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding:20px;
    display: none;
}
.modal-terapia__display{
    display: none;
}
.modal__container h4{
    padding: 0;
    margin: 0;
    color: var(--green);
    margin-bottom:25px;
}
.modal__container p{
    margin:0;
}
.modal__container button{
    margin-top:25px;
}
.sm-mar--left{
    margin-left: 15px;
}
.sm-mar--right{
    margin-right: 15px;
}
.modal__container .btn__container{
    display: flex;
    justify-content: center;
}
@keyframes fadein {
    from { opacity: 0; }
      to { opacity: 1; }
}
#container__dados_remedio.onshow{
    opacity: 1;
    display: block;
    animation: fadein 2s;
    transition-delay: 1s;
}
#container__dados_remedio article{
    margin-top:25px;
    letter-spacing: -1px;
}
#container__dados_remedio h3{
    color: var(--green);
}
#container__dados_remedio .card{
    padding: 15px 15px 25px 15px;
}
#container__dados_remedio div{
   margin-top:0;
   margin-bottom:0
}
#container__dados_remedio .margin-card{
    margin-left:10px;
    padding-bottom: 15px;
 }
#container__dados_remedio h4{
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--green);
    text-align: center;
}
#container__dados_remedio span{
    color: #afb6b4;
}
#container__dados_remedio article.container__btn-remedios div{
    margin-top: 30px;
}
#container__dados_remedio article.container__btn-remedios .incluir-remedio{
    width:auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
article.card article:hover{
   box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}
article.card article:active{
    background-color: rgb(239, 243, 241);
}
.sm-mar--top{
    margin-top: 15px;
}
#footer{
    background-color: var(--green);
    height: 3rem;
    text-align: right;
    padding-top:10px;
}

#footer small{
    color: white;
}
.green{
    color:var(--green);
}
.gray{
    color: var(--gray)
}
.hard-gray{
    color: var(--hard-gray);
}
input.input-field.error{
    border-bottom: 1px solid red;
}
#container__dados_remedio article.edit-container{
    margin-top:10px;
    background-color: #f7f3f3;
}
#container__dados_remedio article.edit-container span{
    padding: 5px;
}

@media (max-width:550px){
    #container__dados_remedio article.container__btn-remedios a.incluir-remedio {
        width:70vw;
    }
}
